/* ------------------------------------------------------- */
/* 共通ヘッダ                                              */
/* ------------------------------------------------------- */
header.title {
  background: #38A3A5;
  font-size: 30px;
  color: white;
  background-image: url(https://slaythereport-images.s3.ap-northeast-1.amazonaws.com/misc/logo1.png);
  background-size: auto 60px;
  background-repeat: no-repeat;
}
header.title a {
  display: block;
  height: 60px;
  width: 220px;
}
header.menu ul.pages {
  background: #57CC99;
}
header.menu ul.pages {
  display: flex;
  font-size: 18px;
  flex-direction: row;
  width: 100%;
  padding: 0;
  margin: 0;
}
header.menu ul.pages li {
  list-style: none;
  width: 150px;

}
header.menu ul.pages li.current {
  background: #80ED99;
}

/* ------------------------------------------------------- */
/* 記事一覧                                                */
/* ------------------------------------------------------- */

/* キャラクターセレクタ */
div.selector {
  display: flex;
  flex-direction: row;
  margin: 0 0 0 20px;
}
div.selector div {
  width: 100px;
  padding-left: 8px;
  cursor: pointer;
  border-radius: 10px 10px 0 0;
}
div.selector div.selected {
  text-decoration: underline;
}
div.selector div:nth-child(1) {
  background: #009485;
  color: white;
}
div.selector div:nth-child(2) {
  background: #8c1a12;
  color: white;
}
div.selector div:nth-child(3) {
  background: #2c6e24;
  color: white;
}
div.selector div:nth-child(4) {
  background: #2eaac9;
  color: white;
}
div.selector div:nth-child(5) {
  background: #8a12b5;
  color: white;
}

/* 一覧本体 */
table.reports {
    display: flex;
    max-width: 1200px;
    flex-direction: column;
    border: 1px solid #ccc;
    background: #fff;
    margin: 0 20px 20px 20px;
}
table.reports thead {
    color: #fff;
    background: #009485;
}
table.reports tbody tr {
  display: none;
}
table.reports thead tr,
table.reports tbody tr.selected {
  display: flex;
}
table.reports tbody tr+tr {
    border-top: 1px solid #ccc;
}
table.reports thead tr th,
table.reports tbody tr td {
    display: flex;
    flex: 1;
    justify-content: flex-start;
    padding: .5em;
}
table.reports tbody tr td.author {
    display: block;
}
/* タイトル列 */
table.reports tbody tr td:nth-of-type(1) {
  flex-direction: column;
}
/* 投稿者&概要列 */
table.reports thead tr th:nth-of-type(2),
table.reports tbody tr td:nth-of-type(2),
table.reports thead tr th:nth-of-type(3),
table.reports tbody tr td:nth-of-type(3) {
  width: 120px;
  flex: none;
}
table.reports thead tr th:nth-of-type(4),
table.reports tbody tr td:nth-of-type(4) {
  width: 250px;
  flex: none;
}
table.reports thead tr th:nth-of-type(5),
table.reports tbody tr td:nth-of-type(5) {
  width: 100px;
  flex: none;
}
table.reports tbody tr td:nth-of-type(4) img,
table.reports tbody tr td:nth-of-type(5) img {
  align-self: flex-start;
  width: 80px;
  height:auto;
}

/* ------------------------------------------------------- */
/* 記事                                                    */
/* ------------------------------------------------------- */

/* デッキカード画像 */
.master_deck img {
  width: 100px;
  height:auto;
}
/* デッキレリック画像 */
.master_relic img {
  width: 80px;
  height:auto;
}
.master_deck .selected,
.master_relic .selected {
  border: 3px solid red;
}
.master_deck.clickable img,
.master_relic.clickable img {
  cursor: pointer;
}
.report_body {
  display: flex;
}
.report_body .content {
}
.report_body .map {
  margin-left: 30px;
  width: 210px;
  border: 2px dotted;
  position: sticky;
  top: 0;
}
.report_body .map .tree{
  display: none;
}
.report_body .map .tree.selected {
  display: block;
}
.report_body .map span{
  font-family: Courier;
  margin: 0;
  border-left: 3px solid white;
}
.report_body .map span.selected {
  border-left: 3px solid blue;
}

.report_body .map ul {
  width: 200px;
  display: flex;
  flex-direction: row;
}
.report_body .map ul li {
  list-style: none;
  width: 250px;
  padding: 0;
  margin: 0;
}
.report_body .map img {
  margin: 0;
}
.report_body .map img.full {
  width: 18px;
  border: 1px solid white;
}
.report_body .map img.half {
  width:  8px;
  height: 18px;
  border: 1px solid white;
}
.report_body .map img.selected {
  border: 1px solid red;
}
.report_body .map img.connector {
  height: 8px;
}
.f_container {
}
.f_container {
  border: 2px dotted;
  width: 800px;
}
.f_events {
  display: flex;
}
.f_event_summary {
}
.f_event_image {
}
/* イベント画像 */
.f_event_image img {
  width: 330px;
  height:auto;
}
.f_event_text {
}
.f_player_action {
}
/* 本文カード&レリック画像 */
.f_player_action img {
  width: 100px;
  height:auto;
}
/* ライフ & ゴールド画像 */
.f_life_gold img {
  width: 25px;
  height:auto;
}

.f_player_choise {
}
.f_life_gold {
}
.f_chosen_cards {
  display: flex;
}
.f_chosen_cards div.picked {
  border: 3px solid blue;
}
.f_obtain_objects {
  display: flex;
  flex-wrap: wrap;
}
.f_upgrade_cards {
}
.f_remove_cards {
  display: flex;
  flex-wrap: wrap;
}
.f_remove_cards div.removed {
  border: 3px solid red;
}
.f_bottled_cards {
  display: flex;
  flex-wrap: wrap;
}
.f_bottled_cards div.bottled {
  border: 3px solid green;
}
.f_comment {
}
.f_comment textarea {
  width: 100%;
}
