table.reports {
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    background: #fff;
}
table.reports thead {
    color: #fff;
    background: #009485;
}
table.reports thead tr,
table.reports tbody tr {
    display: flex;
}
table.reports tbody tr+tr {
    border-top: 1px solid #ccc;
}
table.reports thead tr th,
table.reports tbody tr td {
    display: flex;
    flex: 1;
    padding: .5em;
}


.master_deck .selected {
  border: 3px solid red;
}
.master_relic .selected {
  border: 3px solid red;
}
.f_container {
}
.f_container {
  border: 2px dotted;
  width: 800px;
}
.f_events {
  display: flex;
}
.f_event_summary {
}
.f_event_image {
}
.f_event_text {
}
.f_player_action {
}
.f_player_choise {
}
.f_life_gold {
}
.f_chosen_cards {
  display: flex;
}
.f_chosen_cards div.picked {
  border: 3px solid blue;
}
.f_obtain_objects {
}
.f_upgrade_cards {
}
.f_remove_cards {
  display: flex;
}
.f_remove_cards div.removed {
  border: 3px solid red;
}
.f_comment {
}
.f_comment textarea {
  width: 100%;
}
