<% if locals[:title] != nil then %>
  <title><%= locals[:title]%> - SlayTheReport</title>
<% else %>
  <title>SlayTheReport</title>
<% end %>

<link rel="stylesheet" href="/style.css" />
<meta name='description' content='Slay the Spireプレイログ共有サービス。runファイルをアップロードしたらあとは記事を書くだけ'/>
<meta name='keywords' content='Slay the Spire, プレイレポート, プレイログ'/>

