<html>
<head>
  <title>SlayTheReport</title>
  <link rel="stylesheet" href="/style.css" />
</head>

<body>

<div class='header'>
  <header class='title'>SlayTheReport</header>
  <header class='menu'>
    <ul class='pages'>
      <li><a href='/'>トップページ</a></li>
      <% if @twitter != nil then %>
        <li><a href="/mypage">マイページ</a></li>
      <% else %>
        <li><a href="/auth">ログイン</a></li>
      <% end %>
      <li class='current'>ヘルプ</li>
    </ul>
  </header>
</div>

<h3>使い方</h3>
<ul>
  <li>ログインをクリックするとTwitter認証でログインできます</li>
  <li>その後マイページに移動し、runファイルをアップロードします</li>
  <li>runファイルはSteamから確認できます。
    <img src='https://slaythereport-images.s3.ap-northeast-1.amazonaws.com/misc/how_to_find_runfile1.png' style='width: 300px'></img>
    <img src='https://slaythereport-images.s3.ap-northeast-1.amazonaws.com/misc/how_to_find_runfile2.png' style='width: 300px'></img>
    <img src='https://slaythereport-images.s3.ap-northeast-1.amazonaws.com/misc/how_to_find_runfile3.png' style='width: 300px'></img>
  </li>
</ul>
<body>
</html>
