<html>
<head>
  <%= render(:erb, :_headtags) %>
</head>

<body>

<%= render(:erb, :_header, {}, {:is_sticky => true}) %>

<div class='content'>

<h3>使い方</h3>
<ul>
  <li>ログインをクリックするとTwitter認証でログインできます</li>
  <li>その後マイページに移動し、runファイルをアップロードします</li>
  <li>runファイルはSteamから確認できます。
    <img src='https://slaythereport-images.s3.ap-northeast-1.amazonaws.com/misc/how_to_find_runfile1.png' style='width: 300px'></img>
    <img src='https://slaythereport-images.s3.ap-northeast-1.amazonaws.com/misc/how_to_find_runfile2.png' style='width: 300px'></img>
    <img src='https://slaythereport-images.s3.ap-northeast-1.amazonaws.com/misc/how_to_find_runfile3.png' style='width: 300px'></img>
  </li>
  <li>Android版のrunファイルをアップロードする方法があるとの噂があります。情報提供募集中。</li>
</ul>

<h3>不具合かな？と思ったら</h3>
<ul>
  <li>実際に出現した敵とは異なる敵の画像が表示される。(グレムリンの群れ、4体の異形等)</li>
  <ul>
    <li>runファイルにはたとえば「4体の異形と遭遇した」という情報は記録されていますが、その4体の内訳までは記録されておらず情報の再現ができないため、このような仕様になっています。ご了承ください。</li>
  </ul>

  <li>パンドラの箱やアストロラーベのカード変化内容が表示されない。瓶詰めしたカードの内容が表示されない。</li>
  <ul>
    <li>MODなしでプレイした場合のrunファイルにはそれらの情報が含まれていないため、表示が行えません。</li>
    <li>StSRelicStatsというMODを導入すると、それらの情報がrunファイルに含まれるようになるため、必要に応じて導入をご検討ください。</li>
  </ul>

  <li>古いバージョンのrunファイルを投稿したらエラーになった</li>
  <ul>
    <li>対応の手間が大きい割に需要が少ないため、古いバージョンのrunファイルには対応していません。ご了承ください。</li>
  </ul>

  <li>デイリークライムやカスタムモードのrunファイルをアップロードしたら何らかの不具合が発生した。
  <ul>
    <li>こちらも同様に、対応の手間が大きい割に需要が少ないと認識しているため、今のところ対応予定はありません。ご了承ください。</li>
  </ul>

  <li>最新バージョンかつ通常モードのプレイのrunファイルをアップロードしたのにエラーになってしまい表示できない。
  <ul>
    <li>ご迷惑をおかけして申し訳ありません。記事を削除せずに3日ほどお待ちいただければ、対処いたします。</li>
  </ul>

</ul>

<h3>作者への連絡手段</h3>
<ul>
  <li>Twitter: <a href='https://twitter.com/kojim'>@kojim</a></li>
  <li>mail: ykojim _ gmail com</li>
  <li>Twitterアカウントもないしメールを送るのも憚られるという場合は、記事の一言コメント欄にメッセージを記載いただけたら、気が付いたときに反応します</li>
</ul>
</div>
<body>
</html>
