<html>
<head>
<%= render(:erb, :_headtags) %>
</head>

<body>
<% require_relative '../image' %>

<%= render(:erb, :_header) %>

<h3>お知らせ</h3>
<ul>
  <li>ご自由にrunファイルをアップロードしたり、プレイレポートを書いたりしてください。</li>
  <li>マップ表示機能β版追加しました。表示がおかしい場合はCtrl+F5でなおります。ちょっと蛇足感が否めないのでもしかしたら消すかも。</li>
</ul>
<%= render(:erb, :_reports) %>

</body>
</html>
