<html>
<head>
<%= render(:erb, :_headtags) %>
</head>

<body>
<% require_relative '../image' %>

<%= render(:erb, :_header, {}, {:is_sticky => true}) %>

<div class='content'>
<h3>お知らせ</h3>
<ul>
  <li>Slay the ReportはSlay the Spireのプレイレポートを作成＆共有するサービスです。</li>
  <li>ご自由にrunファイルをアップロードしたり、プレイレポートを書いたりしてください。</li>
  <li>表示がおかしい場合はCtrl+F5でなおります。</li>
  <li>Relic StatsおよびRun History Plusに正式対応しました。</li>
</ul>
<%= render(:erb, :_reports) %>
</div>
<% unless params.has_key?('all') then  %>
  <a class='all' href='/?all'>全件表示</a>
<% end %>

</body>
</html>
