<html>
<head>
<%= render(:erb, :_headtags) %>
</head>

<body>
<% require_relative '../image' %>

<%= render(:erb, :_header) %>

<h3>お知らせ</h3>
<ul>
  <li>ご自由にrunファイルをアップロードしたり、プレイレポートを書いたりしてください。</li>
</ul>
<%= render(:erb, :_reports) %>

</body>
</html>
