<h1>SlayTheReport</h1>
<h2>mypage</h2>

<ul>
  <li>
    <h3>links</h3>
    <ul>
      <li><a href="/">top page</a></li>
    </ul>
  </li>
  <li>
    <h3>my reports</h3>
    <ul>
      <li><a href="/edit/kojim/100">report1</a></li>
      <li><a href="/edit/kojim/101">report2</a></li>
      <li><a href="/edit/kojim/102">report3</a></li>
    </ul>
  </li>
</ul>
<%= @text %>

