<html>

<head>
  <%= render(:erb, :_headtags) %>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script>
    $(function(){
      $('.delete_report').click(function(e) {
        ret = window.prompt('本当に削除してよろしいですか？よろしければ「削除」と入力してください', '');
        return ret == '削除';
      });
      $('#submit').prop('disabled', true);
      $('#runfile').change(function(){
        $('#submit').prop('disabled', false);
      });
    });
  </script>
<body>

<%= render(:erb, :_header) %>

<h3>アップロード</h3>
<form action='/mypage/newreport' method="post" enctype="multipart/form-data">
  <input type="file" id="runfile" name="runfile" accept=".run">
  <button type="submit" id="submit">upload</button>
</form>

<h3>投稿記事</h3>
<%= render(:erb, :_reports, {}, {:type => 'edit'}) %>

</body>
</html>
