<html>
<head>
  <%= render(:erb, :_headtags, {}, {:title => "#{h(@author)}さんのレポート"}) %>
</head>

<body>

<%= render(:erb, :_header) %>

<a href='/users'>投稿者別一覧</a> ＞ <%= h(@author)%>

<%= render(:erb, :_reports) %>

</body>
</html>
<html>

